# IntelliJ IDEA specific
.idea/
*.iml
*.iws
.idea_modules/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/
.idea/**/vcs.xml
.idea/**/contentModel.xml
.idea/**/modules.xml

# Gradle
.gradle/
build/
out/

# Maven
target/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear

# Temporary files
*.tmp
*.swp
*.swo